<li id="micropost-<%= micropost.id %>">
  <span class="content"><%= micropost.content %></span>
  <%= link_to "delete", micropost, method: :delete,
                                       data: { confirm: "削除して良いですか?" }, class: 'link' %>
</li>
